body {
  background-color: blue;
  overflow: hidden;
}
.box {
  height: 580px;
  width: 1300px;
  background-image: url(../images/village.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(49, 44, 44, 0.425);
  margin: 35px auto;
  box-shadow: 2px 1px 15px 3px black;
  border-radius: 5px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.santa {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  animation: mysanta 11s ease-in-out;
  cursor: pointer;
}
@keyframes mysanta {
  0% {
    top: 0;
  }
  50% {
    right: 30%;
    top: 50%;
  }
  70% {
    right: 43%;
    top: 60%;
  }
  100% {
    right: 100%;
    top: 60%;
  }
}
.gift {
  position: absolute;
  opacity: 0;
  width: 30px;
  animation: mygift 3s ease-in 7s;
}
@keyframes mygift {
  0% {
    right: 47%;
    top: 60%;
    opacity: 1;
  }
  90% {
    right: 47%;
    top: 65%;
  }
  100% {
    top: 50%;
  }
}

.tree {
  margin-left: 15px;
  margin-top: 10px;
  width: 150px;
  position: relative;
  animation: christmastree 4s alternate infinite;
}
@keyframes christmastree {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.snowman {
  position: relative;
  width: 100px;
  left: 20%;
  top: 70%;
  animation: jump 1s alternate infinite;
  transition: width 2s;
}
.snowman:hover {
  width: 130px;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.merry-christmas {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 35px;
  font-family: "Arial", sans-serif;
  color: #3500f7;
  transition: opacity 1.5s ease-in-out;
}

.box:hover .merry-christmas {
  opacity: 1;
}
